DATABASE_URL=libsql://flux-messenger-cursedd.aws-eu-west-1.turso.io
DATABASE_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODg0NDcwOTksImlkIjoiMDFhMDYyODUtMTAwMS03NmVlLThhMjItYTA3MGJkY2YxZGRiIiwia2lkIjoicWpYbEhLbElGQmJNX29uRDlaWEkyWFVfazVBT3h3X3JIMF9TcUZ6MmU0ZyIsInJpZCI6IjlkMDkxZjkyLTAyMTYtNDFhNi1iMDhiLWYzNDc1MmQ3MTUwNiJ9.mrjXD8kqB4qNR4gTDnWZPX5relsgOkJh5pLpLk84ImGD9SAAA-NYqjYwmNko5VeETX-mJoluokywMjLyWfCGBw
JWT_SECRET=flux-super-secret-jwt-key-change-in-production-32chars!
PORT=8000
